/*! Plasttic v2.0 | MIT License | https://plasttic.dev/ */

/**
  * Reset
  *
  * Styling for CSS browser compatibility
  *
  * A Modern CSS Reset
  * https://github.com/Andy-set-studio/modern-css-reset
  * https://piccalil.li/blog/a-modern-css-reset/
  *
  * Added some rules from:
  * https://www.joshwcomeau.com/css/custom-css-reset/
  *
  * Added some custom rules:
  * Custom changes are commented using "Plasttic:" 
  *
  */

/* ==========================================================================
   Reset
   ========================================================================== */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Plasttic: Remove margin and padding globally */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  /* Plasttic: Set document height */
  min-height: 100%;
  min-height: 100dvh;
}

body {
  text-rendering: optimizeSpeed;
  /* Plasttic: Set default line-height */
  line-height: 1.45; /* or 1.5 , 1.6 */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Plasttic: Set best line height for headings */
  line-height: 1; /* or 1.2 */
  margin-bottom: 0.5em;
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
}

/* <a> elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  /* Plasttic: Add Video, Canvas and SVG */
  display: block;
  max-width: 100%;
  /* Plasttic: Set height and aspect-ratio */
  height: auto;
}

img,
video,
canvas,
svg {
  /* Plasttic: Set aspect-ratio based on specified sizes */
  aspect-ratio: attr(width) / attr(height);
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Plasttic: Global focus style for accessibility */
:where(a, input, button, textarea, select, [tabindex]):focus-visible {
  outline: 1px solid hsl(0, 0%, 100%);
  outline-offset: 2px;
  box-shadow: 0 0 0 2px hsl(26, 86%, 61%);
  border-radius: 1px;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
* Print
*
* Styles that are specific to the print
* More: https://www.smashingmagazine.com/2018/05/print-stylesheets-in-2018/
*/

@media print {
  @page {
    margin: 2cm;
  }

  body {
    color: #000;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12pt;
    font-weight: normal;
    line-height: 1.3;
    background: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 14pt;
    margin-top: 25px;
  }

  h2,
  h3 {
    break-after: avoid;
  }

  a:link,
  a:visited {
    color: #000;
    text-decoration: underline;
  }

  /* print URLs after link text */
  a:link::after,
  a:visited::after {
    content: " (" attr(href) ") ";
  }

  /* do not print anchor links */
  a[href^="#"]:after {
    content: "";
  }

  /* TODO: exclude internal links from the style above */
  a[href^="http"]:not([href*="plasttic.dev"]):after {
    content: " (" attr(href) ")";
  }

  img {
    max-width: 100% !important;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    break-inside: avoid;
  }

  hr {
    width: 100%;
    height: 1px;
  }

  blockquote {
    font-style: italic;
    font-size: 90%;
  }

  /**
  * Specific sections 
  * not needed to print
  * document
  */

  nav,
  aside,
  footer {
    display: none !important;
  }

  /**
  * Utility classes: 
  * ptt-u-print-only: Hide elements/sections until print
  * ptt-u-print-no: Items to hide from print
  */

  .ptt-u-print-no {
    display: none !important;
  }

  .ptt-u-print-only {
    /* unhide print only sections */
    display: unset !important;
  }
}

/* TODO: Control printed sections */

/**
  * PRINT-ONLY / PRINT-NO
  * Utility classes for print
  * ptt-u-print-only: Hide elements/sections until print
  * ptt-u-print-no: Items to hide from print
  */

.ptt-u-print-only {
  display: none !important;
}

.ptt-u-print-no {
  /* hide section when printing
    class properties defined on print.css */
}
